header {
  height: 200px;
  background-color: gray;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 1300px;
  background: linear-gradient(#ff9191, #9c9cff);
}

.button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #6b6969;
  border: #6b6969 solid 5px;
  padding: 10px 15px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
}
