.header{
  height: 200px;
  background-color: gray;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  height: 1300px;
  background: linear-gradient(rgb(255, 145, 145),rgb(156, 156, 255));
}

.button{
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: rgb(107, 105, 105);
  border: rgb(107, 105, 105) solid 5px;
  padding: 10px 15px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
}